<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <title>Title</title>
</head>
<body>
    <header>
        <h1>
            <a href="/">Django Blog</a>
        </h1>
        <h2>
            <a href="{% url 'post_new' %}"> Add blog</a>
        </h2>
    </header>

    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}</p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}

    <div class container>
        {%block content%}
        {%endblock content%}
    </div>
    <p><a href="{% url 'logout' %}">logout</a></p>
</body>
</html>